**Contents:**
* [Review of Python's datetime Module](#0)
* [The pandas Timestamp Object](#1)
* [The pandas DateTimeIndex Object](#2)
* [The pd.to_datetime() Method](#3)
* [Create Range of Dates with the pd.date_rawnge() Method](#4)
* [The .dt Accessord](#5)
* [Import Financial Data Set with pandas_datareader Library](#6)
* [](#7)
* [](#8)

In [1]:
import pandas as pd
import datetime as dt

<a id='0'></a>
## Review of Python's datetime Module

In [2]:
someday = dt.date(2016, 4, 12) #year, month, day

In [3]:
someday.year

2016

In [4]:
someday.month

4

In [5]:
someday.day

12

In [6]:
dt.datetime(2010, 1, 10, 8, 13, 57) #1/10/2010@8:13:57 AM

datetime.datetime(2010, 1, 10, 8, 13, 57)

In [7]:
dt.datetime(2010, 1, 10, 17, 13, 57) #1/10/2010@5:13:57 PM

datetime.datetime(2010, 1, 10, 17, 13, 57)

In [8]:
str(dt.datetime(2010, 1, 10, 17, 13, 57)) #1/10/2010@5:13:57 PM

'2010-01-10 17:13:57'

In [9]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57) #1/10/2010@5:13:57 PM

In [10]:
print(sometime.year)
print(sometime.month)
print(sometime.day)
print(sometime.hour)
print(sometime.minute)
print(sometime.second)

2010
1
10
17
13
57

<a id='1'></a>
## The pandas Timestamp Object

In [11]:
print(pd.Timestamp("2015-3-31"))
print(pd.Timestamp("2015/3/31"))
print(pd.Timestamp("2016, 11, 4"))
print(pd.Timestamp("1/1/2015"))
print(pd.Timestamp("19/12/2015"))
print(pd.Timestamp("12/19/2015"))
print(pd.Timestamp("2021-3-08 08:35:15"))
print(pd.Timestamp("2021-3-08 6:39PM"))

2015-03-31 00:00:00
2015-03-31 00:00:00
2016-11-04 00:00:00
2015-01-01 00:00:00
2015-12-19 00:00:00
2015-12-19 00:00:00
2021-03-08 08:35:15
2021-03-08 18:39:00

In [12]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [13]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

<a id='2'></a>
## The pandas DateTimeIndex Object

In [14]:
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [15]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex=pd.DatetimeIndex(dates)

In [16]:
values = [100,200,300]
pd.Series(data=values, index=dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

<a id='3'></a>
## The pd.to_datetime() Method

In [17]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [18]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [19]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [20]:
pd.to_datetime(["2015-01-03","2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [21]:
times = pd.Series(["2015-01-03","2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [22]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [23]:
dates = pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [24]:
pd.to_datetime(dates, errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [25]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

<a id='4'></a>
## Create Range of Dates with the pd.date_rawnge() Method

In [26]:
times = pd.date_range(start="2016-01-01", end="2016-01-10", freq = 'D')

In [27]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [28]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [29]:
type(times[0])

pandas._libs.tslib.Timestamp

In [30]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq = '2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [31]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq = 'B') #B for business days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [32]:
pd.date_range(start="2016-01-01", end="2016-01-15", freq = 'W') #W for week

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [33]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq = 'W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [34]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq = 'H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [35]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq = '6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [36]:
pd.date_range(start="2016-01-01", end="2016-12-31", freq = 'M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [37]:
pd.date_range(start="2016-01-01", end="2016-12-31", freq = 'MS') #month start

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [38]:
pd.date_range(start="2016-01-01", end="2050-01-01", freq = 'A') #year end

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [39]:
pd.date_range(start= "2012-09-09", periods=25, freq="D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range(start= "2012-09-09", periods=25, freq="B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [41]:
pd.date_range(start= "2012-09-09", periods=25, freq="W")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [42]:
pd.date_range(start= "2012-09-09", periods=25, freq="W-TUE")

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26'],
              dtype='datetime64[ns]', freq='W-TUE')

In [43]:
pd.date_range(start= "2012-09-09", periods=25, freq="MS") #month starts

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [44]:
pd.date_range(start= "2012-09-09", periods=25, freq="A") #annual

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [45]:
pd.date_range(start= "2012-09-09", periods=25, freq="6H") #hours

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [46]:
pd.date_range(end="1999-12-31", periods=20, feq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [47]:
pd.date_range(end="1999-12-31", periods=20, feq='B')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(end="1999-12-31", periods=20, feq='W-SUN')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(end="1999-12-31", periods=20, feq='W-FRI')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range(end="1999-12-31", periods=53, feq='MS') #month start

DatetimeIndex(['1999-11-09', '1999-11-10', '1999-11-11', '1999-11-12',
               '1999-11-13', '1999-11-14', '1999-11-15', '1999-11-16',
               '1999-11-17', '1999-11-18', '1999-11-19', '1999-11-20',
               '1999-11-21', '1999-11-22', '1999-11-23', '1999-11-24',
               '1999-11-25', '1999-11-26', '1999-11-27', '1999-11-28',
               '1999-11-29', '1999-11-30', '1999-12-01', '1999-12-02',
               '1999-12-03', '1999-12-04', '1999-12-05', '1999-12-06',
               '1999-12-07', '1999-12-08', '1999-12-09', '1999-12-10',
               '1999-12-11', '1999-12-12', '1999-12-13', '1999-12-14',
               '1999-12-15', '1999-12-16', '1999-12-17', '1999-12-18',
               '1999-12-19', '1999-12-20', '1999-12-21', '1999-12-22',
               '1999-12-23', '1999-12-24', '1999-12-25', '1999-12-26',
               '1999-12-27', '1999-12-28', '1999-12-29', '1999-12-30',
               '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range(end="1999-12-31", periods=100, feq='7H') #7hours

DatetimeIndex(['1999-09-23', '1999-09-24', '1999-09-25', '1999-09-26',
               '1999-09-27', '1999-09-28', '1999-09-29', '1999-09-30',
               '1999-10-01', '1999-10-02', '1999-10-03', '1999-10-04',
               '1999-10-05', '1999-10-06', '1999-10-07', '1999-10-08',
               '1999-10-09', '1999-10-10', '1999-10-11', '1999-10-12',
               '1999-10-13', '1999-10-14', '1999-10-15', '1999-10-16',
               '1999-10-17', '1999-10-18', '1999-10-19', '1999-10-20',
               '1999-10-21', '1999-10-22', '1999-10-23', '1999-10-24',
               '1999-10-25', '1999-10-26', '1999-10-27', '1999-10-28',
               '1999-10-29', '1999-10-30', '1999-10-31', '1999-11-01',
               '1999-11-02', '1999-11-03', '1999-11-04', '1999-11-05',
               '1999-11-06', '1999-11-07', '1999-11-08', '1999-11-09',
               '1999-11-10', '1999-11-11', '1999-11-12', '1999-11-13',
               '1999-11-14', '1999-11-15', '1999-11-16', '1999-11-17',
               '1999-11-18', '1999-11-19', '1999-11-20', '1999-11-21',
               '1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-27', '1999-11-28', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-04', '1999-12-05', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-11',
               '1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

<a id='5'></a>
## The .dt Accessor

In [52]:
bunch_of_dates = pd.date_range(start="2000-01-01", end = "2010-12-31", freq="24D")

In [53]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [54]:
s.dt.day.head()

0     1
1    25
2    18
3    13
4     6
dtype: int64

In [55]:
s.dt.month.head()

0    1
1    1
2    2
3    3
4    4
dtype: int64

In [56]:
s.dt.weekday_name.head()

0    Saturday
1     Tuesday
2      Friday
3      Monday
4    Thursday
dtype: object

In [57]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [58]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [59]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

<a id='6'></a>
## Import Financial Data Set with pandas_datareader Library

In [60]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [61]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"


data.DataReader(name=company, data_source="yahoo", start=start, end=end)

ImmediateDeprecationError:
Yahoo Daily has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [62]:
symbol = 'MSFT'
#symbol = 'BBRY'
stocks = data.get_data_stooq(symbol)
stocks.sort_index(inplace=True)
stocks.head()

Empty DataFrame
Columns: []
Index: []