**Contents:**
* [Creating Lists](#0)
* [Iterating Over A List](#1)
* [List Methods: .append(), .extend(), .insert(index,)](#2)
* [List Methods: .clear(), .pop(), .remove()](#3)
* [List Methods: .index(), .count(), .sort(), .reverse(), .join()](#4)
* [Slicing](#5)
* [Swapping Values](#6)
* [List Comprehension](#7)
* [](#8)
* [](#9)
* [](#10)

<a id='0'></a>
## Creating Lists

In [37]:
#Creating List Exercise
# Define my_stuff 
my_stuff = ['s', 7.5, True, 'f']

# Define nums 
nums = list(range(1,100))

In [38]:
#Accessing List Data
# DON'T TOUCH THIS PLEASE!
people = ["Hanna","Louisa","Claudia", "Angela","Geoffrey", "aparna"]
# DON'T TOUCH THIS PLEASE!

#Change "Hanna" to "Hannah"
people[0] = "Hannah"

#Change "Geoffrey" to "Jeffrey"
people[-2] = "Jeffrey"

#Change "aparna" to "Aparna" (capitalize it)
people[-1] = "Aparna"

<a id='1'></a>
## Iterating Over A List

In [39]:
numbers = [1,2,3,4]
i = 0

while i < len(numbers):
	print(numbers[i])
	i += 1

1
2
3
4

In [40]:
sounds = ["super", "cali", "fragil", "istic", "expi", "ali", "docious"]

result = ''
# Define your code below:
for item in sounds:
    result += item.upper()
print(result)

SUPERCALIFRAGILISTICEXPIALIDOCIOUS

<a id='2'></a>
## List Methods: .append(), .extend(), .insert(index,)

In [41]:
# Create a list called instructors

# Add the following strings to the instructors list 
    # "Colt"
    # "Blue"
    # "Lisa"

# Run the tests to make sure you've done this correctly!
instructors = []
instructors.extend(['Colt', 'Blue', 'Lisa'])
instructors

['Colt', 'Blue', 'Lisa']

In [42]:
# Create a list called instructors

# Add the following strings to the instructors list 
    # "Colt"
    # "Blue"
    # "Lisa"

# Run the tests to make sure you've done this correctly!
instructors = []
instructors.append('Colt')
instructors.append('Blue')
instructors.append('Lisa')
instructors

['Colt', 'Blue', 'Lisa']

<a id='3'></a>
## List Methods: .clear(), .pop(), .remove()

.clear(): removes all items from the list
.pop(): remove the item at the given position or default remove last item
.remove(): remove the first item from the list whose value is x

<a id='4'></a>
## List Methods: .index(), .count(), .sort(), .reverse(), .join()

index: returns the index of the specified item in the list, can specify start and end
	numbers.index(8, 6, 8) finds index of number from index 6 to index 8
count: return the number of timex x appears in the list
reverse: reverse the elements of the list (in-place)
sort: sort the tiems of the list (in-place), default ascending order
join: concatenates a copy of the base string between each item of the iterable
	words = ['Coding', 'Is', 'Fun!'], ' '.join(words) 'Coding is Fun!'

In [43]:
# Create a list called instructors
instructors = []
 
# Add the following strings to the instructors list 
    # "Colt"
    # "Blue"
    # "Lisa"
instructors.extend(["Colt", "Blue", "Lisa"])
 
# Remove the last value in the list
instructors.pop()
 
# Remove the first value in the list
instructors.pop(0)
 
# Add the string "Done" to the beginning of the list
instructors.insert(0, 'Done')

<a id='5'></a>
## Slicing

<a id='6'></a>
## Swapping Values

names = ["James", "Michelle"]
names[0], names[1] = names[1], names[0]
print(names)

<a id='7'></a>
## List Comprehension: 

[____ for ____ in _____]
[x*10 for x in nums]

In [44]:
numbers = [1,2,3,4,5]
doubled_numbers = []
for num in numbers:
    doubled_number = num * 2
    doubled_numbers.append(doubled_number)
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [45]:
numbers = [1,2,3,4,5]
doubled_numbers = [num * 2 for num in numbers]
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [46]:
name = 'colt'
[char.upper() for char in name] #['C', 'O', 'L', 'T']

['C', 'O', 'L', 'T']

In [47]:
friends = ['ashley', 'matt', 'michael']
[friend[0].upper() for friend in friends] #['Ashley', 'Matt', 'Michael']

['A', 'M', 'M']

In [48]:
[num*10 for num in range(1,6)] #[10,20,30,40,50]

[10, 20, 30, 40, 50]

In [49]:
[bool(val) for val in [0, [], '']] #[False, False, False]

[False, False, False]

In [50]:
numbers = [1,2,3,4,5]
string_list = [str(num) for num in numbers]
print(string_list) # ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']